# Created by https://www.gitignore.io/api/godot
# Edit at https://www.gitignore.io/?templates=godot


.DS_Store
essentials-master/Graphics/.DS_Store
### Godot ###

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

# End of https://www.gitignore.io/api/godot
